html,body {
  margin: 0 auto !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
  background: #f1f1f1;
}


* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  table-layout: fixed !important;
  margin: 0 auto !important;
}

a {
  text-decoration: none;
}
.email-container tabel{
  border:0;
}
.primary p{
  position: relative;
  padding: 1em 2.5em;
  display: inline-block;
  left: 50%;transform: translate(-25%);
}
.bg_white{
  background: #ffffff;
  padding: 1em 2.5em 0 2.5em;
  width:100%;
}
.bg_light{
  background: #f7fafa;
}
.bg_black{
  background: #000000;
}
.bg_dark{
  background: rgba(0,0,0,.8);
}
.email-section{
  padding:2.5em;
}
.email-container{
  max-width: 600px; 
  margin: 0 auto;
}
/*BUTTON*/
.btn{
  padding: 10px 15px;
  display: inline-block;
}
.btn.btn-primary{
  border-radius: 5px;
  background: #17bebb;
  color: #ffffff;
}
.btn.btn-white{
  border-radius: 5px;
  background: #ffffff;
  color: #000000;
}
.btn.btn-white-outline{
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.btn.btn-black-outline{
  border-radius: 0px;
  background: transparent;
  border: 2px solid #000;
  color: #000;
  font-weight: 700;
}
.btn-custom{
  color: rgba(0,0,0,.3);
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Work Sans', sans-serif;
  color: #000000;
  margin-top: 0;
  font-weight: 400;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0,0,0,.4);
}

a{
  color: #17bebb;
}

table{
}
/*LOGO*/

.logo h1{
  margin: 0;
  margin-bottom: 20px;
  padding: 0 1em;
}
.logo h1 a{
  color: #17bebb;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}

/*HERO*/
.hero{
  position: relative;
  z-index: 0;

  padding: 0 2.5em; 

  text-align: left;
}

.hero .text{
  color: rgba(0,0,0,.3);
}
.hero .text h2{
  color: #000;
  font-size: 34px;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.2;
}
.hero .text h3{
  font-size: 24px;
  font-weight: 200;
}
.hero .text h2 span{
  font-weight: 600;
  color: #000;
}
.presentation-column{
  text-align:left;
  padding: 0 2.5em;
  color: #000;
  padding-bottom: 20px;
}
.presentation-column.item{
  width:80%
}
.presentation-column.price{
  width:20%
}
/*PRODUCT*/
.product{
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.product-info{

  width:80%;

  text-align:left;

  padding: 0 2.5em;
}
.product-entry{
  display: block;
  position: relative;
  float: left;
  padding-top: 20px;
}
.product-entry .text{
    width: calc(100% - 125px);
    padding-left: 20px;
}
.product-entry img{

  width: 100px; 

  max-width: 600px; 

  height: auto; 

  margin-bottom: 20px; 

  display: block;
}
.product-entry .text h3{
  margin-bottom: 0;
  padding-bottom: 0;
}
.product-entry .text p{
  margin-top: 0;
}
.product-entry img, .product-entry .text{
  float: left;
}
.product-price{

  text-align:center;

  width:20%;
}
.product-price span{
  color: #000;
  font-size: 20px;
}